@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fcfcfc;
}

footer {
  position: block;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fcfcfc;
  height: auto;
  width: auto;
  font-family: "Open Sans";
  padding-top: 20px;
  color: #fff;
}

li {
  text-align: -webkit-match-parent;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 15px;
  font-size: 14px;
}

.footer-title {
  font-size: 14px;
  font-style: italic;
  color: gray;
}

.footer-box {
  list-style: none;
  margin: 0.5rem 0 0 0;
}

.footer-box li {
  margin: 0 10px;
}

.footer-box a {
  font-size: 12px;
  text-decoration: none;
  color: gray;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: lightcoral;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background:#fcfcfc;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 18px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #323334;
}


